{% extends 'base.html' %}

{% block body %}
{% for index, book in books_with_index %}
    <div class="book-item">
        <div class="book-id{{ index }}">
            <h4>{{ index }}</h4>
        </div>
        <img src="{{ book.image.url }}" width="100" height="100">
        <div class="book-details">
            <a href="{% url 'books:bookdetails' book.id %}">{{ book.name }}</a>
        </div>
        <div class="delete-link">
            <a href="{% url 'books:update_item' book.id %}">Update</a> | 
            <a href="{% url 'books:delete_item' book.id %}">Delete</a>
        </div>
    </div>
    <hr>
{% endfor %}
{% endblock %}
